extends adminlogin

block content
 .row
  .col-md-4.col-md-offset-4
    .box
      .input-group
        span.input-group-addon.addon-facebook
          i.fa.fa-fw.fa-2x.fa-facebook.fa-fw
        a.btn.btn-lg.btn-block.btn-facebook(href='#')  Register with Facebook
      .input-group
        span.input-group-addon.addon-twitter
          i.fa.fa-fw.fa-2x.fa-twitter.fa-fw
        a.btn.btn-lg.btn-block.btn-twitter(href='#')  Register with Twitter
      form(role='form' action="admin/postlogin" method="post")
        .divider-form
        .form-group
          label(for='exampleInputEmail1') Email address
          input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
        .divider-form
        .form-group
          label(for='exampleInputPassword1') Password
          input#exampleInputPassword1.form-control(type='password', placeholder='Password')
        .divider-form
        p.text-center
          | You agree to the
          strong Terms & Conditions
          | .
        button.btn-block.btn.btn-lg.btn-primary(type='submit') Register Account
        p.text-center
          | Already have an account?
          a(href='#') Sign in here
