extends layout

block content
  #wrapper
  .container
    .row
      .col-md-12
        h1 WeBuild
        h2.subtitle We're working hard to improve our website and we'll ready to launch after
        #countdown
        form.form-inline.signup(role='form')
          .form-group
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter your email address')
          button.btn.btn-theme(type='submit') Get notified!
        .social
          a(href='#')
            i.fa.fa-facebook(aria-hidden='true')
          a(href='#')
            i.fa.fa-twitter(aria-hidden='true')
          a(href='#')
            i.fa.fa-google-plus(aria-hidden='true')
          a(href='#')
            i.fa.fa-linkedin(aria-hidden='true')
    .row
      .col-lg-6.col-lg-offset-3
        p.copyright © WeBuild - All Rights Reserved
        .credits
          //


      script(src='/javascripts/jquery.countdown.min.js')
    script(type='text/javascript').
      $('#countdown').countdown('2017/01/01', function(event) {
      $(this).html(event.strftime('%w weeks %d days <br /> %H:%M:%S'));
      });
